{% load staticfiles %}
<html>
    <head>
        <title>卒業研究</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body background="/static/pic/background.png">
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
            <h1><a href="/">卒業研究(AP18047)</a></h1>
        </div>
        <a href="/admin" class="top_local">ログイン</a>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="gamelink">
          <a href="game" >scratchゲーム入口</a>
        </div>
        <footer>
        Copyright &copy; 1992-2019 <span class="name"><a href="index">カ　ソウオン</a></span> All rights Reserved.
        </footer>
    </body>
</html>
