{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>自己紹介</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
           $("#nav_toggle").click(function(){
             $("body").toggleClass("enabled");
           });
        });


</script>
</head>
<body>
<header>
  <div class="title-area">
    <h1 class="page-title">カソウオンの自己紹介</h1>
  </div>
	<div id="nav_toggle">
	<div>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
  <nav id="TAT">
    <ul>
      <li><a class="topmenu current" href="index">私について</a></li>
      <li><a class="topmenu" href="China">出身国について</a></li>
      <li><a class="topmenu" href="Japan">私と日本</a></li>
    </ul>
  </nav>
</header>
<div id="container">
  <div id="main">
    <div class="main-inner">
      <h2 class="title">私について</h2>
        <img src="{% static 'img/psb.jfif' %}" width="100%">
          <div class="table2">
            <div class="table_row">
              <div class="table-title">項目</div>
              <div class="table-title">内容</div>
            </div>
            <div class="table_row">
              <div class="table-left">名前<br>Name</div>
              <div class="table-right">カソウオン</div>
            </div>
            <div class="table_row">
              <div class="table-left">学籍番号<br>Student number</div>
              <div class="table-right">ap18047</div>
            </div>
            <div class="table_row">
              <div class="table-left">生年月日<br>Date of birth	</div>
              <div class="table-right">1992/8/15</div>
            </div>
            <div class="table_row">
              <div class="table-left">出身国<br>Country of origin</div>
              <div class="table-right">中国</div>
            </div>
            </div>
          <div class="main_inner">
            <a class="jump" href="#syumi">趣味について</a>
          </div>
     </div>
     <div class="main-inner">
       <h2 id="syumi" class="title">私の趣味</h2><br>
       <p>私はゲームとアニメが大好きです。<br>
       <a href="https://jp.lolesports.com/" target="_blank">LoL</a>と<a href="https://eu.shop.battle.net/en-us/family/warcraft-iii" target="_blank">Ｗarcraft 3 frozen throne</a>
            は今やっているゲームです。
       </p><br>
       <p>ＲＰＧゲームより、私は対戦ゲームの方が好きです。リアルと関わらず、
          平等の立場、装備。技術で勝負を決着する。そのタイプのゲームが好みです。<br>
             僕はまだこどもの時、パソコンまだ普及していません、夏休みでよくやるのは
             ＦＣゲームです。<img class="syashi"src="{% static 'img/fc.jpg' %}"width="30%"height="200px">
             扇風機、アイスクリーム、友達二三人、みんな順番でゲームをする、あっという間に、
             一日が終わてしまった。今思い出すと、本当面白かった。<br>
        　中学生の時、従兄弟の家にパソコンを買った、それから、僕とパソコンの物語が始まった。
        　<mark>『Red alert』『Counter-Strike』</mark>とか.新しいゲームどんどん増えきた。
        画像と内容もどんどん良くなってきた。<br>
      </div>
  </div>
  <div id="sub">
    <div class="main-inner2">
      <div class="title2">好きなゲーム</div>
        <ul>
          <li><a class="Web" href="https://jp.leagueoflegends.com/ja/"target="_blank">League of Legends Japan League</a></li>
          <li><a class="Web" href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne"target="_blank">Warcraft III: The Frozen Throne</a></li>
          <li><a class="Web" href="https://www.gaming-city.com/games/1077"target="_blank">天涯明月刀</a></li>
        </ul>
    <div class="title2">好きなアニメ</div>
        <ul>
          <li><a class="Web" href="http://www.tv-tokyo.co.jp/anime/gintama/"target="_blank">銀魂</a></li>
          <li><a class="Web" href="https://www.fate-zero.jp/"target="_blank">Fate/Zero</a></li>
          <li><a class="Web" href="http://onepunchman-anime.net/"target="_blank">ワンパンマン</a></li>
        </ul>
    </div>
  </div>
<footer>
Copyright &copy; 1992-2018 <span class="name">カ　ソウオン</span> All rights Reserved.
</footer>
</div>
</body>
<script type="text/javascript" src="{% static 'js/1.js' %}"></script>
</html>
