{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>私と日本</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
           $("#nav_toggle").click(function(){
             $("body").toggleClass("enabled");
           });
        });
</script>
</head>
<body>
       <header>
            <div class="title-area">
               <h1 class="page-title">カソウオンの自己紹介</h1>
            </div>
  <div id="nav_toggle">
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
       <nav id="TAT">
       <ul>
           <li><a class="topmenu" href="index">私について</a></li>
           <li><a class="topmenu" href="China">出身国について</a></li>
           <li><a class="topmenu current" href="Japan">私と日本</a></li>
       </ul>
  </nav>
  </header>
<div id="container">
  <div id="main">
    <div class="main-inner">
      <img src="{% static 'img/sakura.jpg' %}" width="100%">
    </div>
    <div class="main-inner">
  <h2 class="title">日本とは</h2>
  <p>「日本」という漢字によ
    る国号の表記は、日本列島が中国大陸から見て東の果て、つまり「日の本（ひ
    もと）」に位置することに由来するのではないかとされる[3]。近代の二つの
    憲法の表題は、「日本国憲法」および「大日本帝国憲法」であるが、国号を
    「日本国」または「日本」と直接かつ明確に規定した法令は存在しない。[疑
    問点 – ノート]ただし、日本工業規格 (Japanese Industrial Standard)
     では日本国、英語表記をJapanと規定。更に、国際規格 (ISO) では3文字
     略号をJPN、2文字略号をJPと規定している。また、日本国外務省から発給
     される旅券の表紙には「日本国」の表記と十六一重表菊[4] を提示してい
     る。法令で日本を指し示す表記には統一されておらず日本、日本国、本邦
     、わが国、などが混在している。
  </p>
<h2 class="title3">日本に来た理由</h2>
  <p>日本と言えば、アニメ産業はまず頭の中に浮かべました、子供時代から、いろいろな
    日本製の動画を見ました、<br>
    あの時から、僕の印象中の日本はとても綺麗で、凄く興味深いです。
</div>
</div>
<div id="sub">
               <div class="main-inner2">
  <div class="title2">好きなゲーム</div>
    <ul>
      <li><a class="Web" href="https://jp.leagueoflegends.com/ja/"target="_blank">League of Legends Japan League</a></li>
      <li><a class="Web" href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne"target="_blank">Warcraft III: The Frozen Throne</a></li>
      <li><a class="Web" href="https://www.gaming-city.com/games/1077"target="_blank">天涯明月刀</a></li>
    </ul>
  <div class="title2">好きなアニメ</div>
    <ul>
      <li><a class="Web" href="http://www.tv-tokyo.co.jp/anime/gintama/"target="_blank">銀魂</a></li>
      <li><a class="Web" href="https://www.fate-zero.jp/"target="_blank">Fate/Zero</a></li>
      <li><a class="Web" href="http://onepunchman-anime.net/"target="_blank">ワンパンマン</a></li>
   </ul>
              </div>
</div>
</div>
  <footer>
      Copyright &copy; 1992-2018 <span class="name">カ　ソウオン</span> All rights Reserved.
  </footer>
</div>
</body>
<script type="text/javascript" src="{% static 'js/1.js' %}"></script>
</html>
