@charset "UTF-8";
html,body {
         margin:0;
         padding: 0;
         font-family: "ビラぎノ角ゴ　Pro　W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",
         "Osaka","MS Pゴシック","MS PGothic","sans-serif";
         font-size:16px;
         color: #333;
}
h1,h2,h3,h4,h5,h6{
         margin: 0px;
         padding: 0px;
}
p{
        margin-bottom: 30px;
}
a{
        text-decoration: none;
}
body{
        width: 100%;
        background: #efefef;
}
header{
        width: 100%;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle;
}
.title-area{
        height: 40px;
        padding-top:30px;
        padding-bottom:30px;
        border-radius:12px;
        background: linear-gradient(#4169e1,#1e90ff);
}
nav{
        width: 100%;
        height:60px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #1e90ff;
        border-radius:12px;
}
nav ul{
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0;
}
nav ul li{
        display:inline-block;
        width: 33.333333333333%;
        height: 60px;
        margin: 0;
        padding: 0;
}
nav ul li a {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        padding: 15px 0;
        border-top: 1px solid #fff;
        border-left: 1px solid #ffffff;
}
nav ul li a:hover{
        font-size: 22px;
        color: orange;
        padding: 14px 0 15px 0;
}
nav ul li a.current{
        color: orange;
}
nav ul li:first-child a{
        border-left: none;
}
.page-title{
        font-size: 2.2em;
        line-height: 40px;
        margin: 0;
        color: white;
}
#container{
        width: 100%;
        min-height: 100%;
        margin-left: auto;
        margin-right: auto;
        background: #fafafa;
}
#main{
        width:calc(100% - 288px);
        background: #fafafa;
        margin:0;
        float:left;

}
.main-inner{
        margin:50px;
}
.main-inner2{
        margin:20px;
        background-color:white;
        border-radius:12px;
}
#sub{
        width: 288px;
        background: #efefef;
        margin:0px;
        float:left;
        height:auto;
}
footer{
        clear:both;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
        background: #4169e1;
        text-align: center;
        color: #fff;
}
footer span.name{
        font-weight:bold;
}
.title{
        margin: 0 0 30px 0;
        height: 40px;
        line-height: 30px;
        font-size: 26px;
        padding:5px 0 5px 10px;
        border-left: 5px solid #4169e1;
        border-bottom: 1px solid #4169e1;
        background-color:#fafafa;
}
.title3{
        margin: 0 0 30px 0;
        height: 40px;
        line-height: 60px;
        font-size: 20px;
        padding: 5px 0 5px 10px;
        border-left: 5px solid #4169e1;
}
.table2{
       display: table;
       border: 1px solid black;
       width: 100%;
       margin-bottom: 30px;
}
.table_row{
       display: table-row;
}
.table-title{
       display: table-cell;
       text-align: center;
       background-color: blue;
       font-weight: bold;
       color: white;
       width: 50%;
       padding: 10px 15px;
}
.table-left{
       display: table-cell;
       background-color: white;
       border: 1px solid #888;
       width: 50%;
       padding: 10px 15px;
}
.table-right{
       display: table-cell;
       background-color:skyblue;
       border: 1px solid #888;
       width: 50%;
       padding: 10px 15px;
}
a.jump{
       display: block;
       font-size: 24px;
       width: 360px;
       line-height: 30px;
       margin-top: 15px;
       margin-bottom: 15px;
       margin-left: auto;
       margin-right:auto;
       text-align: center;
       padding: 25px 0;
       border: 3px solid yellow;
       border-radius: 150px;
}
a.jump:hover{
       background-color: orange;
       color:red;
}
hr{　
       border: 2px solid blue;
}

.syashi{
       max-width: 100%;
       height:auto;
       display: block;
       float: right;
       width: 300px;
}
.img2{
       width: 100%;
}
.title2{
       margin: 0px;
       height: 40px;
       padding-top: 20px;
       background: linear-gradient(to bottom right, white , blue);
       color: white;
       padding-left: 15px;
       border-radius:12px;

}
.Web{
       color: black;
}
.Web:hover{
       color: red;
}
nav.sticky {
       position: fixed;
       top: 0;
}
nav_toggle{
       display: none;
}
@media only screen and (max-width: 720px){
header{
      width: 100%;
}
#container{
      width: 100%;
}
#main{
      width: 100%;
}
#sub{
      width: 100%;
}
}
@media only screen and (max-width: 480px){
  body{
          width: 100%;
          background: #efefef;
  }
  header{
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          vertical-align: middle;
          float: none;
          position: fixed;
          top:0px;
          z-index: 999999;
  }
  .title-area{
          width: 100%;
          height: 40px;
          padding-top:30px;
          padding-bottom:30px;
          background: linear-gradient(#4169e1,#1e90ff);
  }
  nav{
          width: 100%;
          height:auto;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          background: #1e90ff;
          display: none;
  }
  nav.sticky{
          position: relative;
  }
  nav ul{
          width: 100%;
          margin: 0;
          padding: 0;
          font-size: 0;
  }
  nav ul li{
          display:block;
          width: 100%;
          height: 60px;
          margin: 0;
          padding: 0;
  }
  nav ul li a {
          display: block;
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          height: 30px;
          line-height: 30px;
          padding: 15px 0;
          border-top: 1px solid #fff;
          border-left: none;
  }
  nav ul li a:hover{
          font-size: 22px;
          color: orange;
          padding: 14px 0 15px 0;
  }
  nav ul li a.current{
          color: orange;
  }
  nav ul li:first-child a{
          border-left: none;
  }
  .page-title{
          font-size: 2.2em;
          line-height: 40px;
          margin: 0;
          color: white;
  }
  #container{
          width: 100%;
          min-height: 100%;
          margin-left: auto;
          margin-right: auto;
          background: #fafafa;
          float: none;
  }
  #main{
          width:100%;
          background: #fafafa;
          margin:0;
          float:none;

  }
  .main-inner{
          margin:20px;
  }
  .main-inner2{
          margin:20px;
          background-color:white;
  }
  #sub{
          width: 100%;
          background: #efefef;
          margin:0px;
          float:none;
          height:auto;
  }
  footer{
          clear:both;
          margin-left: auto;
          margin-right: auto;
          padding: 15px 0;
          background: #4169e1;
          text-align: center;
          color: #fff;
  }
  footer span.name{
          font-weight:bold;
  }
  .table2{
         display: block;
         border: 1px solid black;
         width: 100%;
         margin-bottom: 30px;
  }
  .table_row{
         display: block;
  }
  .table-title{
         display: block;
         text-align: center;
         background-color: blue;
         font-weight: bold;
         color: white;
         width: 100%;
         padding: 0px;
  }
  .table-left{
         display: block;
         background-color: white;
         border: 1px solid #888;
         width: 100%;
         padding: 0px;
  }
  .table-right{
         display: block;
         background-color:skyblue;
         border: 1px solid #888;
         width: 100%;
         padding: 0px;
  }
  #nav_toggle{
         display: block;
         width: 26px;
         height: 22px;
         padding: 9px 7px;
         position: absolute;
         top:27px;
         right: 5px;
         color: #777;
         font-weight: bold;
         text-align: center;
         cursor: pointer;
         z-index: 99999;
  }
  #nav_toggle div{
         position: relative;
  }
  #nav_toggle span{
         display: block;
         position: absolute;
         width: 100%;
         border-bottom: solid 3px #eee;
         transition: .35s ease-in-out;
         -webkit-transition: .35s ease-in-out;
         -moz-transition: .35s ease-in-out;
  }
  #nav_toggle span:nth-child(1){top:0}
  #nav_toggle span:nth-child(2){top:10px;}
  #nav_toggle span:nth-child(3){top:20px;}
  body.enabled #nav_toggle span{
         border-color:#fff;
  }
  body.enabled #nav_toggle span:nth-child(1){
         top:10px;
         transform: rotate(-45deg);
         -webkit-transform:rotate(-45deg);
         -moz-transform:rotate(-45deg);
  }
  .enabled #nav_toggle span:nth-child(2),
  .enabled #nav_toggle span:nth-child(3){
         top:10px;
         transform: rotate(45deg);
         -webkit-transform:rotate(45deg);
         -moz-transform:rotate(45deg);
  }
  .enabled nav{
         display: block;
  }
  .enabled::after{
         content: "";
         position: fixed;
         top: 280px;
         left: 0;
         right: 0;
         bottom: 0;
         background: rgba(0,0,0,0.5);
         z-index: 999;
  }
}
